.carousel-item {
    height: 75% !important;
}

footer {
    position: relative;
    bottom: 0px;
    left: 0px;
    width: 100%;
}

#loginButton {
    width: 100%;
    color: white;
}

.carousel {
    padding: 100px;
}